src/main/mule/democicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="487bed02-5b67-47e3-846e-5b0a08ca3ef9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="democicdFlow" doc:id="7d470615-70a1-473e-a816-d3876d1541a7" >
		<http:listener doc:name="Listener" doc:id="e3ca3f11-9734-4ac5-88cc-acb707adc8b3" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Hello!IC"]' doc:name="Set Payload" doc:id="acc21879-4964-4f9e-a2f8-5484807d628a" />
	</flow>
</mule>
